 #task 1
 SIRSS2327
 Prakanshu Pathak

In [2]:
''' 1  55555
       5555
       555
       55
       5 '''
rows = 5

num = rows

for i in range(rows, 0, -1):

    for j in range(0, i):

        print(num, end= '')

    print("\r")

55555
5555
555
55
5

In [4]:
''' 2:-  012345
         01234
         012
         01
         0   '''
rows = 5

for i in range(rows, 0, -1):

    for j in range(0, i + 1):

        print(j, end= '')

    print("\r")

012345
01234
0123
012
01

In [1]:
''' 3:-  1
         33
         555
         7777
         99999 '''
rows = 5

i = 1

while i <= rows:

    j = 1

    while j <= i:

        print((i * 2 - 1), end= ' ')
        j = j + 1

    i = i + 1

    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
''' 4:-  1
         21
         321
         4321
         54321 '''
rows = 6

for row in range(1, rows):

    for column in range(row, 0, -1):

        print(column, end= '')

    print("")

In [ ]:
''' 5:-  1
         32
         654
         10987
               '''
start = 1

stop = 2

currentNumber = stop

for row in range(2, 6):

    for col in range(start, stop):

        currentNumber -= 1

        print(currentNumber, end= '')

    print("")

    start = stop

    stop += row

    currentNumber = stop

In [1]:
''' 6:-  1
         11
         121
         1331
         14641
         15101051
         1615201561 
         '''
def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()


def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

# set rows
rows = 7
print_pascal_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [2]:
''' 7:-  12345
         22345
         33345
         44445
         55555 '''
rows = 5
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
''' 8:-
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
'''
rows = 8
# rows = int(input("Enter the number of rows "))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        # multiplication current column and row
        square = i * j
        print(i * j, end='  ')
    print()

In [5]:
'''' 9:-
      * * * * * *
       * * * * *
        * * * *
         * * *
          * *
           * 
'''
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [ ]:
''' 10:- 
                      *
                     * *
                    * * *
                   * * * *
                  * * * * *
                 * * * * * *
                * * * * * * *

'''
print("Print equilateral triangle Pyramid using asterisk symbol ")
# printing full Triangle pyramid using stars
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

In [ ]:
''' 11:-
*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
* 
'''
rows = 6
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

In [ ]:
''' 12:-
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
* 
'''
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

In [ ]:
''' 13:-
                   *
                 * *
               * * *
             * * * *
           * * * * *
             * * * *
               * * *
                 * *
                   *
'''
rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

In [ ]:
'''
              * * * * *
               * * * *
                * * *
                 * *
                  *
                  *
                 * *
                * * *
               * * * *
              * * * * *                      
'''
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

In [ ]:
''' 15:-
****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*
'''
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2